* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

canvas {
  width: 100%;
  height: 100%;
}

.colors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 16px;
}

.color-dot-red {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  border: 1px black solid;
}

.color-dot-blue {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(0, 38, 255);
  border: 1px black solid;
}

.color-dot-green {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(0, 255, 13);
  border: 1px black solid;
}

.color-dot-yellow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(229, 255, 0);
  border: 1px black solid;
}

.color-dot-purple {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(195, 0, 255);
  border: 1px black solid;
}

.color-dot-white {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px black solid;
}

.color-dot-black {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(12, 12, 12);
  border: 1px black solid;
}

.texture-container,
.sticker-container {
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: 8px;
}

.texture-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 calc(50% - 5px);
  height: 80px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.texture-card span {
  font-weight: bold;
  mix-blend-mode: difference;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.appearence-control-icon {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 10px;
  opacity: 1;
  cursor: pointer;
}

.close-icon-sticker {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 8px;
  opacity: 1;
  cursor: pointer;
}

.sticker-control-icon {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 10px;
  opacity: 1;
  cursor: pointer;
}

.camera-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10px;
  cursor: pointer;
}

#appearence-control {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 60%;
  padding: 8px;
  width: 350px;
  position: absolute;
  right: 20px;
  background-color: rgba(30, 30, 30, 0.6);
  color: white;
  border-radius: 16px;
}

#sticker-control {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 60%;
  width: 350px;
  position: absolute;
  left: 20px;
  background-color: rgba(30, 30, 30, 0.6);
  color: white;
  border-radius: 16px;
}

.settings-container {
  display: flex;

  position: absolute;
  right: 20px;
  top: 20px;
}

#refresh {
  margin-right: 8px;
}

/* #style1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#style1::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#style1::-moz-color-swatch {
  border-radius: 15px;
  border: none;
} */
/*------ Style 2 ------*/
#color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px black solid;
  cursor: pointer;
}

#color-picker::-webkit-color-swatch {
  display: none;
  background-color: transparent;
  background: transparent;
  border: transparent;
}
#color-picker::-moz-color-swatch {
  display: none;
  background-color: transparent;
  background: transparent;
  border: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 32px;
  width: 32px;
  background-color: red;
  border-radius: 0;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: white;
}

input[type="range"]::-webkit-slider-thumb {
  width: 600px;
  padding: 0.3em 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0.2em;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  color: #333;
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  font-size: 75%;
  line-height: 1.5;
  position: relative;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  background: rgb(37, 37, 37) !important;
  border-radius: 1.3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  max-width: 500px;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
}

input[type="range"]::-ms-track {
  max-width: 500px;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  max-width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-radius: 1.3px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #3071a9;
  border-radius: 1.3px;
}
input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  /*   width: 100%; */
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: transparent;
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background: transparent;
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: transparent;
}
input[type="range"]:focus::-ms-fill-upper {
  background: transparent;
}

.loader {
  width: 400px;
  height: 400px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 1.5s linear infinite;
}
.loader::after {
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* clip-path: circle(100% at center); */
  will-change: clip-path, opacity;
}

.loader-container p {
  position: absolute;
}
input[type="file" i] {
  color: transparent !important;
  width: 60px !important;
}

.camera-control-container {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  bottom: 20px;
  gap: 60px;
  color: white;
  text-align: center;
  display: flex;
  border-radius: 16px;
  z-index: 20;
}

@media (max-width: 500px) {
  .camera-control-container {
    gap: 40px;
  }
  #appearence-control,
  #sticker-control {
    height: 80%;
  }
}

.selected {
  border: 1px solid white;
  position: relative;
}

.selected-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  pointer-events: none;
}
