<div class="card" part="card">
  <div class="section-header" part="header">
    <div class="title" part="title"></div>
    <div class="close-icon" part="close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#e3e3e3"
      >
        <path
          d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
        />
      </svg>
    </div>
  </div>
  <div class="content" part="content">
    <slot></slot>
  </div>
</div>
